{% extends "admin/change_list_object_tools.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
<!-- Nút xem sơ đồ của anh Vũ -->
{% if map_url %}



<li>
    <a href="{{ map_url }}" style="
            background: #417690 !important; 
            border: none !important;
            border-radius: 4px !important;
            color: white !important; 
            font-weight: 100 !important; 
            margin-right: 10px; 
            text-transform: uppercase; 
            padding: 8px 15px !important;
            display: inline-block !important;
            line-height: 1.2 !important;
            font-size: 13px !important;
            transition: background 0.15s;
        ">
        <span style="margin-right: 6px; font-size: 14px;">🗺️</span> BẢN ĐỒ VẬN HÀNH
    </a>
</li>
{% endif %}

{{ block.super }}
{% endblock %}